body {
  font-family: Arial, sans-serif;
  background-color: rgb(211, 211, 252);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  border-radius: 8px;
  background-color: lavender;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.dropdown {
  margin: 20px 0;
  text-align: center;
}

#cuisine {
  padding: 10px;
  font-size: 16px;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.recipe-card {
  width: 200px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 14px;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-card img {
  max-width: 100%;
  border-radius: 8px;
}

.recipe-card h3 {
  font-size: 18px;
  margin-top: 10px;
  color: #555;
}

#search {
  padding: 9px;
  font-size: 16px;
}

#search-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgb(130, 130, 207);
  color: white;
  border: none;
  cursor: pointer;
}

#search-btn:hover {
  background-color: rgb(152, 152, 201);
}

#random-meal-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgb(130, 130, 207);
  color: white;
  border: none;
  cursor: pointer;
}

#random-meal-btn:hover {
  background-color: rgb(152, 152, 201);
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: white;
  background: rgb(130, 130, 207);
  cursor: pointer;
}

dialog {
  max-width: 800px;
  max-height: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: lavender;
}

.recipe-meal-img img {
  width: 400px;
  height: 300px;
}